@page
@model Practica_III.Pages.Cajero_Banco_ABCModel
@{
    string Mensaje= "Solo permite retirar 10,000.00";
    string MensajeABC= "Solo en Banco ABC pude retirar mas de 2,000.00 ";

    if (@Model.Banco == "ABC" && @Model.MontoRetiro > 10000)
    {
        Mensaje= "Solo permite retirar 10,000.00";
    }
    else if (@Model.Banco != "ABC" && @Model.MontoRetiro > 2000)
    {
        MensajeABC= "Solo en Banco ABC pude retirar mas de 2,000.00 ";
    }

    
}

<h1>Cajero Banco ABC</h1>



<body>
    <div>
        <h2>Dinero Disponible</h2>
        <p>Billete de Mil (1000): @Model.Billete_1000</p>
        <p>Billete de Quinientos (500): @Model.Billete_500</p>
        <p>Billete de Cien (100): @Model.Billete_100</p>
    </div>
    <div>
        <form method="get">

            <label for="Banco">
                Seleccione el Banco

            </label>
            <select name="Banco">
                @foreach (var Banco in Model.Bancos)
                {
                    <option value="@Banco">@Banco</option>
                }

            </select>
            <label for="Monto"> Monto a Retirar </label>
            <input type="number" name="Monto" placeholder="Digite Monto" />

            <input type="submit" name="name" value="Retirar" />


        </form>
        <!-- <input type="number" name="Billetes1000" readonly value="@Model.Resultado_Calculo_1000" />
         <input type="number" name="Billete500" readonly value="@Model.Resultado_Calculo_500" />
         <input type="number" name="Billete100" readonly value="@Model.Resultado_Calculo_100" />-->
    </div>


    
</body>